.div-center {
    background-color: #5D75EC;
    text-align: center;
}

.div-center h2, .div-center h3, .div-center h6 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.div-center-black {
    background: #585858;
    text-align: center;
}

.div-center-black h6, .div-center-black h2, .div-center-black h3 {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.div-center-white {
    text-align: center;
}

.div-center-white h6, .div-center-white h2, .div-center-white h3 {
    color: #585858;
    font-weight: bold;
    text-transform: uppercase;
}