.item-region {
  /* background-color: #DCDCDC; */
  /* border-radius: 15px; */
  /* border-style: solid; */
  /* border-color: #D3D3D3; */
  height: 50px;
}

.item-region:hover, .item-region h6:hover {
  background-color: #3D6AF2;
  color: #fff;
  border-style: none;
}

.item-flex {
  display: flex;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}